<div class="c-text-media-block {{#if media}}c-text-media-block--with-media c-text-media-block--media-{{position}}{{/if}}">
    <div class="c-text-media-block__inner">
        {{#if media}}
            <div class="c-text-media-block__image">
                <img src="https://picsum.photos/450/?random" alt="" />
            </div>
        {{/if}}

        <div class="c-text-media-block__content">
            <div>
                <p>Rich text editor text</p>
                <p>Bacon ipsum dolor amet jerky ball tip pig, boudin ham beef ribs landjaeger biltong pork loin sirloin leberkas porchetta meatball swine.</p>
                <p>Swine kevin tail, prosciutto turducken jowl ham kielbasa sirloin pastrami ground round turkey.</p>
            </div>

            <div>
                <p>Rich text editor text</p>
                <p>Bacon ipsum dolor amet jerky ball tip pig, boudin ham beef ribs landjaeger biltong pork loin sirloin leberkas porchetta meatball swine.</p>
                <p>Swine kevin tail, prosciutto turducken jowl ham kielbasa sirloin pastrami ground round turkey.</p>
            </div>
            <button class="c-btn c-btn--primary">Primary</button>
        </div>
    </div>
</div>
