/* ==========================================================================
   #SIZES
   ========================================================================== */


/* Sizing variables */

$size-xs:                       0.25rem !default;
$size-s:                        0.5rem !default;
$size-m:                        1rem !default;
$size-l:                        1.5rem !default;
$size-xl:                       2.25rem !default;
$size-xxl:                      4rem !default;