/* ==========================================================================
   #COLORS
   ========================================================================== */

/* 🎨 Brand */

$color_brand1: #064785 !default;
$color_brand2: #B4C7DA !default;

/* 🕶️ Shades */
$color_shade1: #03182C !default;
$color_shade2: #4E5D6B !default;
$color_shade3: #9AA3AB !default;
$color_shade4: #E5E7E9 !default;
$color_shade5: #F7F8F8 !default;

$color_white: #fff !default;
$color_black: #000 !default;

/* 🌈 UI Colors */
$color_utility1: #33AC2E !default;
$color_utility2: #D63649 !default;
$color_utility3: #F7C137 !default;
$color_utility4: #0064D4 !default;
$color_utility5: #7538F3 !default;
