
// Checkbox settings
$fake-checkbox-size: 18px !default;
$checkmark-size: 20px !default;
$checkmark-height: $checkmark-size / 2 !default;
$checkmark-width: $checkmark-height / 2 !default;
$checkmark-thickness: 2px !default;
$checkmark-color: $color_white !default;

// Radiobutton settings
$fake-radio-button-size: 18px !default;

// Border color
$form-element-border-color: $color_brand1 !default;