/* ==========================================================================
   #TOOLTIPS
   ========================================================================== */


$tooltip-bg:             fade-out(#111, .1) !default;
$tooltip-base-size:      10px !default;
$tooltip-arrow-height:   6px !default;