<div class="demo-wrapper">
    <label class="c-radio-button">
        <input class="c-radio-button__input" type="radio" value="radio button" name="radio" {{#if disabled}}disabled{{/if}} {{#if checked}}checked{{/if}}>
        <span class="c-radio-button__label">
            {{ label }} 1
        </span>
    </label>
    <label class="c-radio-button">
        <input class="c-radio-button__input" type="radio" value="radio button" name="radio" {{#if disabled}}disabled{{/if}} {{#if checked}}checked{{/if}}>
        <span class="c-radio-button__label">
            {{ label }} 2
        </span>
    </label>
    <label class="c-radio-button">
        <input class="c-radio-button__input" type="radio" value="radio button" name="radio" {{#if disabled}}disabled{{/if}} {{#if checked}}checked{{/if}}>
        <span class="c-radio-button__label">
            {{ label }} 3
        </span>
    </label>
</div>
