@import "../../../../styles/01-settings/_settings";

.c-tab-interface__tabs {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    list-style: none;

    [aria-selected] {
        position: relative;
    }
}

.c-tab-interface__link {
    padding-right: 1rem;

    a {
        text-decoration: none;
    }
}

.c-tab-interface__content {
    padding-top: $spacing-l;
}
