<div class="demo-wrapper">
    <div class="u-spacing-stack-s">
        <label class="c-checkbox">
            <input class="c-checkbox__input{{#if indeterminate}} c-checkbox__input--is-indeterminate{{/if}}" type="checkbox" value="checkbox" name="checkbox" {{#if disabled}}disabled{{/if}} {{#if checked}}checked{{/if}}>
            <span class="c-checkbox__label">
                {{ label }}
            </span>
        </label>
    </div>
</div>

