/* ==========================================================================
   #SPACING
   ========================================================================== */



/* Stack */

.u-spacing-stack-xs { margin: $spacing-stack-xs; }
.u-spacing-stack-s { margin: $spacing-stack-s; }
.u-spacing-stack-m { margin: $spacing-stack-m; }
.u-spacing-stack-l { margin: $spacing-stack-l; }
.u-spacing-stack-xl { margin: $spacing-stack-xl; }
.u-spacing-stack-xxl { margin: $spacing-stack-xxl; }



/* Inline */

.u-spacing-inline-xs { margin: $spacing-inline-xs; }
.u-spacing-inline-s { margin: $spacing-inline-s; }
.u-spacing-inline-m { margin: $spacing-inline-m; }
.u-spacing-inline-l { margin: $spacing-inline-l; }
.u-spacing-inline-xl { margin: $spacing-inline-xl; }
.u-spacing-inline-xxl { margin: $spacing-inline-xxl; }



/* inset */

.u-spacing-inset-xs { padding: $spacing-inset-xs; }
.u-spacing-inset-s { padding: $spacing-inset-s; }
.u-spacing-inset-m { padding: $spacing-inset-m; }
.u-spacing-inset-l { padding: $spacing-inset-l; }
.u-spacing-inset-xl { padding: $spacing-inset-xl; }
.u-spacing-inset-xxl { padding: $spacing-inset-xxl; }