/* ==========================================================================
   #ELEVATION
   ========================================================================== */

.u-elevation-raised {
  box-shadow: $elevation-raised;
}

.u-elevation-overlay {
  box-shadow: $elevation-overlay;
}

.u-elevation-modal {
  box-shadow: $elevation-modal;
}