/* ==========================================================================
   #COLORS
   ========================================================================== */


/* Brand */

.u-bg-color-brand-1               { background-color: $color-brand1 !important; }
.u-bg-color-brand-2               { background-color: $color-brand2 !important; }


/* Neutral */

.u-bg-color-black                 { background-color: $color-black !important; }
.u-bg-color-shade-1               { background-color: $color_shade1 !important; }
.u-bg-color-shade-2               { background-color: $color_shade2 !important; }
.u-bg-color-shade-3               { background-color: $color_shade3 !important; }
.u-bg-color-shade-4               { background-color: $color_shade4 !important; }
.u-bg-color-shade-5               { background-color: $color_shade5 !important; }
.u-bg-color-white                 { background-color: $color_white !important; }


/* Utility */

.u-bg-color-error                 { background-color: $color_utility2 !important; }
.u-bg-color-warning               { background-color: $color_utility3 !important; }
.u-bg-color-highlight             { background-color: $color_utility5 !important; }
.u-bg-color-success               { background-color: $color_utility1 !important; }
.u-bg-color-information           { background-color: $color_utility4 !important; }