.c-hero {
    min-height: 500px;
    height: 100px; // IE flex bug - https://github.com/philipwalton/flexbugs/issues/231
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.c-hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: $z-index__lowest;
}

/*
    Video background variant
*/
.c-hero--video {
    .c-hero__content {
        color: white;
        z-index: $z-index__lowest;
        position: relative;
    }
}

.c-hero__video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.c-hero__video {
    height: 100%;
    position: absolute;
    z-index: $z-index__lowest;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.c-hero__video[data-object-fit] {
    display: none;
}

.c-hero__video:not([data-object-fit]) {
    display: block;
}

@supports (object-fit: cover) {
    .c-hero__video {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    // Show video and overlay right away if object-fit is supported natively
    .c-hero__video,
    .c-hero__video-overlay {
        display: block;
    }
}

.object-fit-polyfill {
    .c-hero__video,
    .c-hero__video-overlay {
        display: block; // Show video and overlay when polyfill is done doing it's magic, so we hide the broken initial state
    }
}