<div class="c-text-input">
    {{#if label}}
    <label for="default-input">Text Input label</label>
    {{/if}}
    <input id="default-input" type="text" placeholder="Input text here..." {{#if isRequired}}required="true"{{/if}}>
</div>
