<div class="demo-blockquote">
    <figure class="c-quote">
        <blockquote class="c-quote__body">It is the unofficial force—the Baker Street irregulars.</blockquote>
        <figcaption class="c-quote__credits">Sherlock Holmes, <cite>Sign of Four</cite></figcaption>
    </figure>
</div>