<div class="c-text-input-underline">
    <input id="underline-input" type="text" {{#if isRequired}}required="true"{{/if}}>
    <span class="c-text-input-highlight"></span>
    <span class="c-text-input-bar"></span>
    <label for="underline-input">Text Input label</label>
</div>