<div class="demo-container-1">
    <div class="c-loading">
        <svg viewBox="-75 -75 150 150">
            <title>Loading</title>
            <circle class="c-loading__stroke" cx="0" cy="0" r="37.5"></circle>
        </svg>
    </div>
</div>
